<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>Funnel Server</string>
	<key>CFBundleIdentifier</key>
	<string>cc.funnel</string>
	<key>CFBundleVersion</key>
	<string>0.0.9</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleGetInfoString</key>
	<string>Developed by the Funnel development team</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>FunnelLogo.icns</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>funnel.FunnelServer</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>ClassPath</key>
			<array>
			<string>$JAVAROOT/funnel_server.jar</string>
			<string>$JAVAROOT/javaosc.jar</string>
			<string>$JAVAROOT/jvyaml.jar</string>
			<string>$JAVAROOT/RXTXcomm.jar</string>
			</array>
	</dict>
</dict>
</plist>
